body{
    font-family: monospace;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    padding: 40px;
}
.technologies{
    flex-direction: row;
}

a{
    color: white;
}

.mt-4{
    margin-top: 10px;;
}
