@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body{
    font-family: 'Source Mono', sans-serif;
    background: #121212;
    color: white;
    filter: brightness(70%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    padding: 5px;
}
.technologies{
    flex-direction: row;
}

a{
    color: white;
}

.mt-4{
    margin-top: 2px;
}
